/* latin-ext */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karla/v21/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaHUlKd7c.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/karla/v21/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaE0lK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --primary: #008080;
    --secondary: #F0B200;
    --tertiary: #D47811;
    --dark: #005D69;
    --dark-text: #2D2D2D;
    --bright: #F71735;
    --bright-text: #EDFFEC;
}

html {
	height: 100%;
}

body {
    width: 100%;
	height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Karla, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: var(--dark-text);
	overflow-y: hidden;
}

article#main, div#root{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
	flex-flow: column;
	height: 100%;
}

section#app {
    width: 100%;
	height: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}

div#app-container {
	width:100%;
	height: 100%;
	padding: 0;
	box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
}

h1 {
    font-size: 1.5em;
    padding: 0.25em 0em;
    margin: 0.25em 0em;
    text-align: center;
    width: 100%;
}

label.radio:hover {
    background-color: var(--bright-text);
    /* color: var(--bright-text); */
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked ~ label {
    box-shadow: inset 0px 0px 0px 0.25rem var(--tertiary);
}

input[type=submit] {
    width: 5rem;
    line-height: 1.5rem;
    font-family: Karla, Arial, Helvetica, sans-serif;
    background-color: var(--secondary);
    border: 0px;
    cursor: pointer;
    padding: 0;
    margin: 0.25em 0.15em;
}

input[type=submit]:hover {
    background-color: var(--tertiary);
    /* color: var(--bright-text); */
}

label.radio {
    padding: 0.25em 0.75em;
	min-height: 3em;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--secondary);
    color: var(--dark-text);
    cursor: pointer;
    width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;

    box-shadow: inset 0px 0px 0px 0px;
    transition: box-shadow 0.1s ease-in-out;
}
