nav#mainnav {
	width: 100%;
	height: 3em;
	background-color: var(--dark-text);
	box-sizing: border-box;
	padding: 0.5em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

section.apptitle {
	width: 5em;
	display: block;
	color: var(--bright-text);
	padding: 0.15em 1em;
	font-size: 1.5em;
	font-weight: 700;
}

section.feedback-container {
	width: 70em;
	text-align: center;
	color: var(--bright-text);
	font-size: 1.2em;
}

section.feedback-container a {
	color: var(--secondary);
	text-decoration: none;
}

section.feedback-container a:hover {
	color: var(--tertiary);
	text-decoration: underline;
}

section.nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

a.nav {
	display: block;
	height: 100%;
	float: left;
	color: var(--bright-text);
	margin: 1.5em;
	padding: 0.15em;
	text-decoration: none;
	border-bottom: 3px solid var(--dark-text);
}

a.nav:hover {
	border-bottom: 3px solid var(--primary);
}

section.help {
	color: var(--bright-text);
	margin: 1.5em;
	position: relative;
}

section.help button {
	color: var(--bright-text);
	background: transparent;
	border: none !important;
	cursor: pointer;
}

section.help button:hover {
	color: var(--secondary);
}

section.helptext-container {
	display: block;

	height: 600px;
	width: 45em;
	
	position: absolute;
	top: 50px;
	left: -35em;

	background: white;
	border-radius: 1em;
	border: 0.25em solid var(--dark);

	padding: 0.5em 0em;

	z-index: 5;

	color: var(--dark-text);
}

section.helptext {
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

section.helptext a {
	color: var(--primary);
	text-decoration: none;
}

section.helptext a:hover {
	color: var(--dark);
}

section.helptext {
	padding: 0.75em;
}

section.helptext img {
	width: 100%;
	margin: 0.25em;
	box-sizing: border-box;
}

section.helptext-container::before, section.helptext-container::after {
	content: ' ';
	display: block;
	border-style: solid;
	border-width: 0 1em 1.5em 1em;
	border-color: transparent;
	position: absolute;
	left: 34.5em;
}

section.helptext-container::before {
	top: -1.75em;
	border-bottom-color: var(--dark);
}

section.helptext-container::after {
	top: -1.5em;
	border-bottom-color: white;
}

section.helptext li {
	margin: 0.25em;
}
